.styledDivLineWrapper{
  margin-bottom: 7px;
}

.styledDivLine{
	height: 4px;
	width: 80px;
	background-image: linear-gradient(
	  90deg,
	  hsl(0deg 0% 83%) 0%,
	  hsl(344deg 0% 72%) 8%,
	  hsl(210deg 1% 62%) 17%,
	  hsl(210deg 3% 52%) 25%,
	  hsl(210deg 1% 51%) 33%,
	  hsl(344deg 0% 44%) 42%,
	  hsl(0deg 0% 32%) 50%,
	  hsl(344deg 0% 44%) 58%,
	  hsl(210deg 1% 51%) 67%,
	  hsl(210deg 3% 52%) 75%,
	  hsl(210deg 1% 62%) 83%,
	  hsl(344deg 0% 72%) 92%,
	  hsl(0deg 0% 83%) 100%
	);

	background-image: linear-gradient(
	  90deg,
	  hsl(217deg 87% 91%) 0%,
	  hsl(219deg 93% 72%) 8%,
	  hsl(218deg 72% 52%) 17%,
	  hsl(217deg 86% 36%) 25%,
	  hsl(217deg 88% 31%) 33%,
	  hsl(215deg 96% 21%) 42%,
	  hsl(217deg 87% 12%) 50%,
	  hsl(215deg 96% 21%) 58%,
	  hsl(217deg 88% 31%) 67%,
	  hsl(217deg 86% 36%) 75%,
	  hsl(218deg 72% 52%) 83%,
	  hsl(219deg 93% 72%) 92%,
	  hsl(217deg 87% 91%) 100%
	);
}