.secondaryContainer{
	width: 500px;
	height: 450px;
	border-radius: 30px;
	background: #f6f7f9;
	box-shadow:  20px 20px 32px #d1d2d4, -20px -20px 32px #ffffff;
}

.formContainer{
	width: 90%;
	height: 95%;
}