.spacemanContainer{
    animation: scaleUpDown 2s ease-in-out infinite;
}

.container{
    height: 36rem;
}

@keyframes scaleUpDown {
    0%, 100% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(1.5); /* Scale up to 150% */
    }
}