.contentCardTitleContainer{
	background-color: white;
	box-shadow:  7px 7px 23px #c1c1c1,
             -7px -7px 23px #ffffff;
    height: 10%;
}

.contentCardContainer{
	background-color: white;
	box-shadow:  7px 7px 23px #c1c1c1,
             -7px -7px 23px #ffffff;
}

.common{
    font-weight: 500;
    font-size: 15px;
}

.text{
    width: 180px;
}

