.left{
	width: 100%;
}

.landingPage{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url("/bgExp2.jpg");
}

.lottieWrapper{
	/* height: 300px;
	width: 320px;
	right: 280px;
	top: 35px; */
	transform: rotate(90deg);
}