.bubbleSecondaryContainer{
    max-width: 335px;
    margin-left: 5px;
    margin-right: 5px;
}

.bubbleTertiaryContainer{
    width: fit-content;
    max-width: 275px;
    height: fit-content;
    padding: 5px 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow:  7px 7px 23px #c1c1c1,
    -7px -7px 23px #ffffff;
}

.chatMessage{
    font-size: 13px;
}

.messageOwnerName{
    font-size: 13px;
}