.pageBodyContainer{

}

.navbarContainer{
	margin-bottom: 7.5px;
	height: 10%;
}

.sideMenuAndContentContainer{
	background-color: white;
	height: 90%;
}

.sideMenuContainer{
	width: 20%;
}

.contentContainer{
	background-color: #e0e0e0;
}