.inputContainer{
	width: 80%;
}

.input{
	border-width: 3px;
	padding-right: 4px; 
	padding-left: 6px;
	height: 42px;
	outline: none;
	border: none;
	border-bottom: 2px solid black;
}

.label{
	padding-right: 4px; 
	padding-left: 4px;
}