.listTileWrapper{

}

.listTileContentWrapper{
    padding-top: 7px;
    padding-bottom: 7px;
}

.common{
    font-weight: 500;
    font-size: 15px;
}

.sNo{
    width: 18px;
}

.text{
    width: 180px;
}

.date{
    width: 105px;
}


.divider{
    border: 1.5px solid #e6e6e6;
}